<div class="blank-page" style="min-height: 100%" ng-controller="ListViewController">

    <div class="container marketing" style="margin: 20px">

        <div class="list-group">

            <li class="list-group-item" ng-repeat="item in searchResult">
                <span class="badge">
                    <a style="color:white" ng-click="locate(item);">
                        Locate
                    </a>
                </span>

                <a style="color:black" href="{{ item.url }}" target="_blank">
                {{ item.name }}
                ({{ item.district }})
                </a>
            </li>


        </div>


        <!--<li style="color:white;font-size:20px;" ng-repeat="item in searchResult">-->
            <!--<a ng-href="{{ item.url }}" >-->
            <!--{{ item.name }}-->
            <!--({{ item.district }})-->
            <!--</a>-->

            <!--<span class="pull-right">-->
                <!--<a ng-click="locate(item);">-->
                <!--Locate-->
                <!--</a>-->
            <!--</span>-->
        <!--</li>-->


    </div>

</div>