<div class="blank-page" style="min-height: 100%" ng-controller="SearchController">

    <div class="container marketing" style="margin: 20px">

        <!--<h1 style="color:white;">Search</h1>-->

        <form name="searchForm">

            <div class="input-group input-group-lg">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Name">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="search($event);">Search</button>
                </span>
            </div>
        </form>
    </div>

</div>